/* BODY ET TABLE */

body, html
{
	padding : 0;
	margin : 0;
	border : 0;
	height : 100%;
	background : url("bg.jpg") no-repeat center center fixed;
}

table
{
	min-height : 100%;
	padding-top : 0;
	padding-bottom : 0;
	margin-top : 0;
	margin-bottom : 0;
	background-color : white;
	width : 80%;
	margin : auto;
	border-spacing : 0;
	border-collapse : collapse;
}

#container
{
	-webkit-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

li:not(:last-child):after
{
	content : '';
	height : 1px;
	background-color : rgba(20, 20, 20, 0.2);
	display : block;
	margin : 5px 0;
}

/* --- */
/* TOP */

#logo
{
	width : 130px;
	height : 96px;
	margin-top : auto;
	margin-bottom : auto;
	vertical-align : middle;
	margin-left : 10px;
}

#title
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 48px;
}

/* --- */
/* MENUS DE NAVIGATION */

.nav
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 18px;
	-webkit-margin-before : 5px;
	-webkit-margin-after : 5px;
	text-align : center;
}

/* GAUCHE */

.mainmenu
{
	list-style : none;
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 16px;
	padding-left : 15px;
}

.mainmenu li a
{
	text-decoration : none;
	color : rgb(70, 70, 70);
}

.mainmenu li a:visited
{
	color : rgb(70, 70, 70);
}

.mainmenu li a:hover
{
	font-weight : bold;
}

/* DROITE */

#articlemenu
{
	list-style : none;
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 16px;
	padding : 0 15px 0 0;
}

#articlemenu li a
{
	text-decoration : none;
	color : rgb(70, 70, 70);
}

#articlemenu li a:visited
{
	color : rgb(70, 70, 70);
}

#articlemenu li a:hover
{
	font-weight : bold;
}

/* --- */
/* CONTENU DU SITE */

pre
{
	font-family : initial;
	font-size : initial;
	margin : 20px 0 20px 60px;
	padding : 5px 0px 5px 15px;
	border-left : 3px solid rgb(150, 150, 150);
	background-color : #1b2426;
	color : white;
	width : 850px;
}

pre .language
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 15px;
	font-weight : bold; 
	border-bottom : 1px solid white;
}

#article
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 15px;
	width : 95%;
	margin : auto; 
	text-align : justify;
    padding : 5px;
}

h1
{
	font-size : 30px;
	line-height: 0;
    padding: 0;
    width : 60%;
	margin : auto;
	text-align : center;
	padding-top : 20px;
}

h2 span
{
	color : gray;
	font-size : 22px;
	background-color : white;
	padding: 0 15px;
	margin-left : 20px;
	padding-top : 15px;
    padding-bottom : 15px;
}

h2
{
	height : 1px;
	border-bottom : 1px solid black;
	margin-top : 0;
	padding : 0;
    padding-top : 15px;
    padding-bottom : 15px;
}

#article p
{
	padding-top : 8px;
}

.img 
{
	text-align : center;
	margin : 20px auto 20px auto;
}

.img img
{
	-webkit-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.list
{
	list-style : none;
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 16px;
	padding-left : 15px;
}

.list li a
{
	text-decoration : none;
	color : rgb(70, 70, 70);
}

.list li:before
{
	content : '> ';
}

.list li a:visited
{
	color : rgb(70, 70, 70);
}

.list li a:hover
{
	font-weight : bold;
}

#projects td
{
	padding : 5px 0;
}

.info, .error, .question, .warning
{
	width : 70%;
	margin : auto;
	margin-top : 40px;
	margin-bottom : 20px;
	position : relative;
	padding : 20px;
	font-style : italic;
}

.info
{
	background-color : rgba(76, 153, 0, 0.2);
}

.error
{
	background-color : rgba(204, 0, 0, 0.2);
}

.question
{
	background-color : rgba(0, 76, 153, 0.2);
}

.warning
{
	background-color : rgba(255, 128, 0, 0.2);
}

.info i
{
	position : absolute;
	top : -24px;
	left : -7px;
}

.error i
{
	position : absolute;
	top : -24px;
	left : -17px;
}

.question i
{
	position : absolute;
	top : -24px;
	left : -14px;
}

.warning i
{
	position : absolute;
	top : -24px;
	left : -7px;
}

/* --- */
/* AUTEUR */

#author
{
	padding : 0 0 10px 0;
	display : flex;
	justify-content : center
}

#author p
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 15px;
	padding : 10px 0 10px 0;
	width : 331px;
}

#avatar
{
	width : 50px;
	height : 50px;
	border-radius : 50%;
	vertical-align : middle;
	float : left;
	margin-right : 15px;
	-webkit-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow : 0 1px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


#author_citation
{
	padding : 0;
	margin : 0;
	border : 0;
}

#author_citation:after
{
	content : ' »';
}

#author_citation:before
{
	content : '« ';
}

/* --- */
/* PIED DE PAGE */

#footer
{
	font-family : "Quicksand", 'Open Sans Condensed', "Trebuchet MS", "Verdana", Arial, monospace;
	font-size : 16px;
	padding : 0 0 0 15px;
	display : flex;
	flex-direction : row;
	position : relative;
}

#footer_first, #footer_second
{
	list-style : none;
	width : 30%;
	padding : 0;
	padding-left : 30px;
}

#footer_third
{
	list-style : none;
	width : 40%;
	flex : 1;
	padding-left : 30px;
	padding-right : 30px;
	text-align : justify;
}

#footer li
{
	margin-top : 10px;
	margin-bottom : 10px;
}

#footer li a
{
	text-decoration : none;
	color : rgb(150, 150, 150);
}

#footer li a:visited
{
	color : rgb(150, 150, 150);
}

#footer li a:hover
{
	font-weight : bold;
}

#socials
{
	text-align : center;
	color : yellow;
}

#footer .fa
{
	padding-right : 10px;
	color : gray;
}

#footer .fa-facebook-official:hover
{
	color : #00F;
}

#footer .fa-github:hover
{
	color : black;
}

#footer .fa-twitter:hover
{
	color : #9CF;
}

/* --- */

@font-face
{
	font-family : 'Quicksand';
	src : url('Quicksand_Book.otf');
}